{% extends "layout.html"%}

{% block content %}
<!--
<body>
  
    <h2>APLICACIONES</h2>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="imagenes/imagen1.jpg">
	        </div>
          <div class="carousel-item">
              <img class="d-block w-100" src="imagenes/Imagen2.jpg">
	        </div>
          <div class="carousel-item">
                <img class="d-block w-100" src="imagenes/imagen3.jpg">
	        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>

    <h2>APLICACIONES2</h2>
  
</body>
-->

<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap-->


  <!---->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">

    <!--Carousel de fotos-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../static/imagen1.jpg" alt="Imagen 1" width="30" height="400">
          <div class="container">
            <div class="carousel-caption d-none d-md-block">
              <h5>TITULO1 - REEMPLAZAR</h5>
              <p>TEXTO1 - REEMPLAZAR</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/Nicolas1.jpg" alt="Imagen 1" width="30" height="400">
          <div class="container">
            <div class="carousel-caption d-none d-md-block">
              <h5>TITULO2 - REEMPLAZAR</h5>
              <p>TEXTO2 - REEMPLAZAR</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/imagen3.jpg" alt="Imagen 1" width="30" height="400">
          <div class="container">
            <div class="carousel-caption d-none d-md-block">
              <h5>TITULO3 - REEMPLAZAR</h5>
              <p>TEXTO3 - REEMPLAZAR</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
    <br>
    <!--espaciado-->
    <hr>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card"> 
          <img class="card-img-top" src="../static/imagen1.jpg" alt="imagen 1" width="100%" height="250">
          <div class="card-body">
            <h4 class="card-title">Aplicación 1</h4>
            <p class="card-text">Descripción Aplicación 1</p>
            <br>
            <br>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"> 
          <img class="card-img-top" src="../static/Nicolas1.jpg" alt="imagen 2" width="100%" height="250">
          <div class="card-body">
            <h4 class="card-title">Aplicación 2</h4>
            <p class="card-text">Descripción Aplicación 2</p>
            <br>
            <br>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"> 
          <img class="card-img-top" src="../static/imagen3.jpg" alt="imagen 3" width="100%" height="250">
          <div class="card-body">
            <h4 class="card-title">Aplicación 3</h4>
            <p class="card-text">Descripción Aplicación 3</p>
            <br>
            <br>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class=" col-md-4"> Descripción <strong> Aplicación 1</strong> xxx xxx xxxx xxx x xx xxx xx x x x xxxx x x
        xxxx x xxxxxx xx x xxxxx xxxxxxxx x</div>
      <div class=" col-md-4"> Descripción <strong> Aplicación 2</strong> xxx xxx xxxx xxx x xx xxx xx x x x xxxx x x
        xxxx x xxxxxx xx x xxxxx xxxxxxxx x </div>
      <div class=" col-md-4"> Descripción <strong> Aplicación 3</strong> xxx xxx xxxx xxx x xx xxx xx x x x xxxx x x
        xxxx x xxxxxx xx x xxxxx xxxxxxxx x </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="card">
          <div class="card-body">
            <h3>Adding <strong>Buttons</strong></h3>
            <p>Quickly add buttons to your page by using the button component in the insert panel. </p>
            <button type="button" class="btn btn-info btn-md">Info Button</button>
            <button type="button" class="btn btn-success btn-md">Success Button</button>
          </div>
        </div>
      </div>
      <div class="text-center col-md-6">
        <div class="card">
          <div class="card-body">
            <h3>Adding <strong>Badges</strong></h3>
            <p>Using the insert panel, add badge to your page by using the badge component.</p>
            <span class="badge badge-info">Info Badge</span> <span class="badge badge-danger">Danger Badge</span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>

    <!--Pie de Pagina-->
    <div class="row">
      <div class="text-center col-lg-6 offset-lg-3">
        <h4>Aplicaciones </h4>
        <p>Copyright &copy; 2020 &middot; All Rights Reserved &middot; <a href="#">Nicolás Plaza</a></p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="../assets/dist/js/bootstrap.bundle.js"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



</body>

</html>

{% endblock %}