<section id="componentGallery" class="">
    <div id="componentGalleryThumbs">
        <div class="row">
            <div id="componentGalleryThumbsGrid">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 photo-container shuffle-item">
                    <figure class="center-block text-center" data-toggle="modal" data-target="#componentGalleryModal">
                        <img id="webProductImage_2"
                            data-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323745.jpg"
                            src="/template/frontend/official/images/ajax-loading.gif" title="Hotel Sol Caribe Campo 2"
                            alt="Hotel Sol Caribe Campo 2" class="img-responsive" style="display: inline-block;"
                            href="#componentGalleryModalCarousel" data-slide-to="0" />
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 photo-container shuffle-item">
                    <figure class="center-block text-center" data-toggle="modal" data-target="#componentGalleryModal">
                        <img id="webProductImage_3"
                            data-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323111.jpg"
                            src="/template/frontend/official/images/ajax-loading.gif" title="Hotel Sol Caribe Campo 3"
                            alt="Hotel Sol Caribe Campo 3" class="img-responsive" style="display: inline-block;"
                            href="#componentGalleryModalCarousel" data-slide-to="1" />
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 photo-container shuffle-item">
                    <figure class="center-block text-center" data-toggle="modal" data-target="#componentGalleryModal">
                        <img id="webProductImage_4"
                            data-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323219.jpg"
                            src="/template/frontend/official/images/ajax-loading.gif" title="Hotel Sol Caribe Campo 4"
                            alt="Hotel Sol Caribe Campo 4" class="img-responsive" style="display: inline-block;"
                            href="#componentGalleryModalCarousel" data-slide-to="2" />
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 photo-container shuffle-item">
                    <figure class="center-block text-center" data-toggle="modal" data-target="#componentGalleryModal">
                        <img id="webProductImage_5"
                            data-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323218.jpg"
                            src="/template/frontend/official/images/ajax-loading.gif" title="Hotel Sol Caribe Campo 5"
                            alt="Hotel Sol Caribe Campo 5" class="img-responsive" style="display: inline-block;"
                            href="#componentGalleryModalCarousel" data-slide-to="3" />
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 photo-container shuffle-item">
                    <figure class="center-block text-center" data-toggle="modal" data-target="#componentGalleryModal">
                        <img id="webProductImage_6"
                            data-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323217.jpg"
                            src="/template/frontend/official/images/ajax-loading.gif" title="Hotel Sol Caribe Campo 6"
                            alt="Hotel Sol Caribe Campo 6" class="img-responsive" style="display: inline-block;"
                            href="#componentGalleryModalCarousel" data-slide-to="4" />
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 photo-container shuffle-item">
                    <figure class="center-block text-center" data-toggle="modal" data-target="#componentGalleryModal">
                        <img id="webProductImage_7"
                            data-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323216.jpg"
                            src="/template/frontend/official/images/ajax-loading.gif" title="Hotel Sol Caribe Campo 7"
                            alt="Hotel Sol Caribe Campo 7" class="img-responsive" style="display: inline-block;"
                            href="#componentGalleryModalCarousel" data-slide-to="5" />
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 photo-container shuffle-item">
                    <figure class="center-block text-center" data-toggle="modal" data-target="#componentGalleryModal">
                        <img id="webProductImage_8"
                            data-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323215.jpg"
                            src="/template/frontend/official/images/ajax-loading.gif" title="Hotel Sol Caribe Campo 8"
                            alt="Hotel Sol Caribe Campo 8" class="img-responsive" style="display: inline-block;"
                            href="#componentGalleryModalCarousel" data-slide-to="6" />
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 photo-container shuffle-item">
                    <figure class="center-block text-center" data-toggle="modal" data-target="#componentGalleryModal">
                        <img id="webProductImage_9"
                            data-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323114.jpg"
                            src="/template/frontend/official/images/ajax-loading.gif" title="Hotel Sol Caribe Campo 9"
                            alt="Hotel Sol Caribe Campo 9" class="img-responsive" style="display: inline-block;"
                            href="#componentGalleryModalCarousel" data-slide-to="7" />
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 photo-container shuffle-item">
                    <figure class="center-block text-center" data-toggle="modal" data-target="#componentGalleryModal">
                        <img id="webProductImage_10"
                            data-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323113.jpg"
                            src="/template/frontend/official/images/ajax-loading.gif" title="Hotel Sol Caribe Campo 10"
                            alt="Hotel Sol Caribe Campo 10" class="img-responsive" style="display: inline-block;"
                            href="#componentGalleryModalCarousel" data-slide-to="8" />
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-xs-1 grid-sizer-element"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn border-rd-0 base-primary-white-bg base-secondary-bg-h base-secondary-bg-f
                    base-secondary-c base-primary-white-c-h base-primary-white-c-f base-secondary-b
                    border-simple-line text-upper margin-t-20 padding-10 view-more" type="button" data-toggle="modal"
                data-target="#componentGalleryModal">
                Ver más
            </button>
        </div>
    </div>
</section>

<!-- Gallery Modal -->
<div class="modal fade" id="componentGalleryModal" tabindex="-1" role="dialog"
    aria-labelledby="componentGalleryModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="componentGalleryModalLabel">
                    Hotel Sol Caribe Campo
                </h4>
            </div>
            <div class="modal-body">
                <div id="componentGalleryModalCarousel" class="carousel slide" data-ride="carousel"
                    data-interval="false">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item " data-img-id="webProductImageCarousel_2"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323745.jpg"
                            data-img-title="Hotel Sol Caribe Campo 2" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_3"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323111.jpg"
                            data-img-title="Hotel Sol Caribe Campo 3" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_4"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323219.jpg"
                            data-img-title="Hotel Sol Caribe Campo 4" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_5"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323218.jpg"
                            data-img-title="Hotel Sol Caribe Campo 5" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_6"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323217.jpg"
                            data-img-title="Hotel Sol Caribe Campo 6" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_7"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323216.jpg"
                            data-img-title="Hotel Sol Caribe Campo 7" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_8"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323215.jpg"
                            data-img-title="Hotel Sol Caribe Campo 8" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_9"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323114.jpg"
                            data-img-title="Hotel Sol Caribe Campo 9" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_10"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323113.jpg"
                            data-img-title="Hotel Sol Caribe Campo 10" data-load="false">
                        </div>
                        <div class="item active" data-img-id="webProductImageCarousel_11"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323112.jpg"
                            data-img-title="Hotel Sol Caribe Campo 11" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_12"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_15605532309.jpg"
                            data-img-title="Hotel Sol Caribe Campo 12" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_13"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323010.jpg"
                            data-img-title="Hotel Sol Caribe Campo 13" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_14"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323321.jpg"
                            data-img-title="Hotel Sol Caribe Campo 14" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_15"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_15605532308.jpg"
                            data-img-title="Hotel Sol Caribe Campo 15" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_16"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_15605532307.jpg"
                            data-img-title="Hotel Sol Caribe Campo 16" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_17"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_15605532306.jpg"
                            data-img-title="Hotel Sol Caribe Campo 17" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_18"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_15605532305.jpg"
                            data-img-title="Hotel Sol Caribe Campo 18" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_19"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_15605532294.jpg"
                            data-img-title="Hotel Sol Caribe Campo 19" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_20"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_15605532293.jpg"
                            data-img-title="Hotel Sol Caribe Campo 20" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_21"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_15605532292.jpg"
                            data-img-title="Hotel Sol Caribe Campo 21" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_22"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_15605532291.jpg"
                            data-img-title="Hotel Sol Caribe Campo 22" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_23"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323220.jpg"
                            data-img-title="Hotel Sol Caribe Campo 23" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_24"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323322.jpg"
                            data-img-title="Hotel Sol Caribe Campo 24" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_25"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323744.jpg"
                            data-img-title="Hotel Sol Caribe Campo 25" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_26"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323534.jpg"
                            data-img-title="Hotel Sol Caribe Campo 26" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_27"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323643.jpg"
                            data-img-title="Hotel Sol Caribe Campo 27" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_28"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323642.jpg"
                            data-img-title="Hotel Sol Caribe Campo 28" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_29"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323641.jpg"
                            data-img-title="Hotel Sol Caribe Campo 29" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_30"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323640.jpg"
                            data-img-title="Hotel Sol Caribe Campo 30" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_31"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323639.jpg"
                            data-img-title="Hotel Sol Caribe Campo 31" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_32"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323638.jpg"
                            data-img-title="Hotel Sol Caribe Campo 32" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_33"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323537.jpg"
                            data-img-title="Hotel Sol Caribe Campo 33" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_34"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323536.jpg"
                            data-img-title="Hotel Sol Caribe Campo 34" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_35"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323535.jpg"
                            data-img-title="Hotel Sol Caribe Campo 35" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_36"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323533.jpg"
                            data-img-title="Hotel Sol Caribe Campo 36" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_37"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323323.jpg"
                            data-img-title="Hotel Sol Caribe Campo 37" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_38"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323532.jpg"
                            data-img-title="Hotel Sol Caribe Campo 38" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_39"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323431.jpg"
                            data-img-title="Hotel Sol Caribe Campo 39" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_40"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323430.jpg"
                            data-img-title="Hotel Sol Caribe Campo 40" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_41"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323429.jpg"
                            data-img-title="Hotel Sol Caribe Campo 41" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_42"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323428.jpg"
                            data-img-title="Hotel Sol Caribe Campo 42" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_43"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323427.jpg"
                            data-img-title="Hotel Sol Caribe Campo 43" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_44"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323426.jpg"
                            data-img-title="Hotel Sol Caribe Campo 44" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_45"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323325.jpg"
                            data-img-title="Hotel Sol Caribe Campo 45" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_46"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/sol-caribe-campo-all-inclusive_156055323324.jpg"
                            data-img-title="Hotel Sol Caribe Campo 46" data-load="false">
                        </div>
                        <div class="item " data-img-id="webProductImageCarousel_47"
                            data-img-src="https://static.hotel-imagenes.info/uploads/hotel/16229/photo/hotel-sol-caribe-campo_151361288040.jpg"
                            data-img-title="Hotel Sol Caribe Campo 47" data-load="false">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#componentGalleryModalCarousel" role="button"
                        data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                    <a class="right carousel-control" href="#componentGalleryModalCarousel" role="button"
                        data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>

</section>

</div>
<div class="col-md-3 col-md-pull-9 sectionTabHidden">
    <!--Best Price Guaranteed-->

    <!--Menu-->